- var professionWords = brief.profession.split(' ')

include ../components/button.pug
main(id="home")
    div.left
        p Hello, I'm #{brief.firstName},
        h2
            each word in professionWords
                span #{word}
                br
        p based in #{brief.country}
        +button('Resume', 'btn-primary', 'button', 'resume-button')
        +button('Hire Me', 'btn-primary', 'button', 'email-button')
    div.right
        div.image-container
            div.user-photo
                img.plus-group(src="/images/plus-group.svg", alt="Image")
            img.circle-border(src="/images/circle-border.svg", alt="Image")
            img.rectangle-group(src="/images/rectangle-group.svg", alt="Image")

    a.bottom-arrow.btn(
            hx-get="/about"
            hx-target="body"
            hx-push-url="true"
            hx-swap="innerHTML"
            ): img(src="/images/bottom-arrow.svg", alt="")