main(id="work")
    h2 work.
    p I am excited to share a brief collection of accomplishments that reflect my skills and passion. Each piece showcases my dedication to quality and innovation, whether through creative design, technical expertise, or problem-solving abilities. I invite you to work together. Thank you for taking the time to review my portfolio!
    div
        ul 
            each experience in experiences
                li #{experience.jobTitle} 
                    span ( #{ experience.startDate } - #{ experience.endDate })
                    div #{experience.companyName}
                    div #{experience.description}
                    div #{experience.technologies}
                    div
                        ul
                            each technology in experience.achievements 
                                li #{technology}
